html {
  background: #FFF;
  color: #555;
  font: 300 14px/18px "chaparral-pro-1", "chaparral-pro-2", serif;
  height: 100%;
  margin: 0;
  width: 100%; }

  body {
    margin: 0 auto;
    width: 850px;
    padding-top: 75px; }

    a {
      text-decoration: none;
      color: #264E59;
      font-weight: bold; }
    a:hover { color: #3A7878; }

    h1 {
      color: #264E59;
      text-indent: 0;
      font-family: "bello-pro-1","bello-pro-2",sans-serif;
      font-size: 96px;
      line-height: 1;
      margin: 0; }

    #logo {
      float: right;
      position: relative;
      top: -10px; }

    #intro {
      font-size: 34px;
      line-height: 1.75;
      margin-top: 75px; }

    label {
      clear: left;
      display: block;
      float: left;
      font-size: 18px;
      width: 150px; }
    input, textarea, button {
      float: left;
      font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
      font-size: 18px;
      margin-bottom: 1.5em; }
    textarea { height: 300px; width: 600px; }
    form p { margin: 1em 0 0 0; }
    form p.actions { margin: 0 0 0 150px;}
    button {
      clear: both;
      float: left;
      padding: 5px 10px 0 10px;
      color: #5C6058;
      cursor: pointer;
      border: 1px solid #D4D4D4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #F4F4F4;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F4F4F4',endColorstr='#EAECDF');
      background: -webkit-gradient(linear,left top,left bottom,from(#F4F4F4),to(#EAECDF));
      background: -moz-linear-gradient(top,#F4F4F4,#EAECDF); }

    footer {
      clear: left;
      font-size: 15px;
      margin-top: 125px; }
    footer a { font-weight: normal;}
    footer ul,footer li {
      list-style: none;
      display: inline-block;
      padding: 0 3px 0 0; }
