<meta name="description" content="{{ page.description }}" />

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Phillip Ridlen{% endif %}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:description" content="{{ page.description }}" />

{% if assets[page.image] %}
  <meta property="og:image" content="{{ site.url }}{{ assets[page.image].digest_path }}" />
{% else %}
  <meta property="og:image" content="http://gravatar.com/avatar/a9afd72caf82c3b98c292a379f53228a?s=256" />
{% endif %}

<link rel="author" href="https://plus.google.com/102506368462184573833" />

