@mixin nice-underline($underline-margin: 3px, $underline-opacity: 0.5) {
  position: relative;
  text-decoration: none;

  &:hover { text-decoration: none; }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: $underline-margin;
    opacity: $underline-opacity;
  }
}
