---
layout: master
---

%section.text
  :markdown
    ## 2016 Hayride Songs

    ### Forever

    _Chris Tomlin_

    Give thanks to the Lord our God and King,  
    His love endures forever.  
    For He is good He is above all things,  
    His love endures forever.  
    Sing Praise, Sing Praise.

    With a mighty hand and outstretched arm,  
    His love endures forever.  
    For the life that's been reborn,  
    His love endure forever.  
    Sing Praise, Sing Praise.  
    Sing Praise, Sing Praise.

    Forever God is faithful,  
    Forever God is strong.  
    Forever God is with us,  
    Forever

    From the rising to the setting sun,  
    His love endures forever.  
    And by the grace of God we will carry on  
    His love endures forever.
    Sing Praise, Sing Praise.  
    Sing Praise, Sing Praise.

    Forever God is faithful,  
    Forever God is strong.  
    Forever God is with us,  
    Forever

    ### Rejoice

    _Dustin Kensrue_

    Come and stand before your Maker  
    Full of wonder, full of fear  
    Come behold His power and glory  
    Yet with confidence draw near

    For the one who holds the heavens  
    And commands the stars above  
    Is the God who bends to bless us  
    With an unrelenting love

    Rejoice, come and lift your hands and  
    Raise your voice, He is worthy of our praise  
    Rejoice, sing of mercies of your King  
    And with trembling, rejoice

    We are children of the promise  
    The beloved of the Lord  
    Won with everlasting kindness  
    Bought with sacrificial blood  

    Bringing reconciliation  
    To a world that longs to know  
    The affections of a Father  
    Who will never let them go  

    Rejoice, come and lift your hands and  
    Raise your voice, He is worthy of our praise  
    Rejoice, sing of mercies of your King  
    And with trembling, rejoice

    All our sickness, all our sorrows  
    Jesus carried up the hill  
    He has walked this path before us  
    He is walking with us still

    Turning tragedy to triumph  
    Turning agony to praise  
    There is blessing in the battle  
    So take heart and stand amazed

    Rejoice, when you cry to Him He hears  
    Your voice, He will wipe away your tears  
    Rejoice, in the midst of suffering  
    He will help you sing

    Rejoice, come and lift your hands and  
    Raise your voice, He is worthy of our praise  
    Rejoice, sing of mercies of your King  
    And with trembling rejoice

    ###  Glory to God Forever

    _Steve Fee_

    Before the world was made,  
    before You spoke it to be  
    You were the King of kings,  
    yeah You were, yeah You were

    And now You're reigning still,  
    enthroned above all things  
    Angels and saints cry out,  
    we join them as we sing

    Glory to God, glory to God  
    Glory to God, forever  
    Glory to God, glory to God  
    Glory to God, forever

    Creator God, You gave  
    me breath so I could praise  
    Your great and matchless name,  
    all my days, all my days

    So let my whole life be  
    a blazing offering  
    A life that shouts and sings  
    the greatness of our King

    Glory to God, glory to God  
    Glory to God, forever  
    Glory to God, glory to God  
    Glory to God, forever  

    Take my life and let it be  
    All for You and for Your glory  
    Take my life and let it be Yours

    Take my life and let it be  
    All for You and for Your glory  
    Take my life and let it be Yours  

    Glory to God, glory to God  
    Glory to God, forever  
    Glory to God, glory to God  
    Glory to God, forever

    Glory to God, glory to God  
    Glory to God, forever  
    Glory to God, glory to God  
    Glory to God, forever

    ### Come Thou Fount of Every Blessing

    Come, Thou Fount of every blessing,  
    Tune my heart to sing Thy grace;  
    Streams of mercy, never ceasing,  
    Call for songs of loudest praise.  
    Teach me some melodious sonnet,  
    Sung by flaming tongues above.  
    Praise the mount! I’m fixed upon it,  
    Mount of Thy redeeming love.

    Here I raise my Ebenezer;  
    Here by Thy great help I’ve come;  
    And I hope, by Thy good pleasure,  
    Safely to arrive at home.  
    Jesus sought me when a stranger,  
    Wandering from the fold of God;  
    He, to rescue me from danger,  
    Interposed His precious blood;

    Come Thou Fount, Come Thou King  
    Come Thou precious Prince of Peace  
    Hear Your bride, to You we sing  
    Come Thou Fount of our blessing

    Come Thou Fount, Come Thou King  
    Come Thou precious Prince of Peace  
    Hear Your bride, to You we sing  
    Come Thou Fount of our blessing

    O to grace how great a debtor  
    Daily I’m constrained to be!  
    Let Thy goodness, like a fetter,  
    Bind my wandering heart to Thee.  
    Prone to wander, Lord, I feel it,  
    Prone to leave the God I love;  
    Here’s my heart, O take and seal it,  
    Seal it for Thy courts above.
