---
title: About Me
layout: default
---

%section.text
  .markdown
    .intro
      :markdown
        Hi, there! I'm a full-stack developer baking up awesome digital treats
        at [Oven Bits](http://ovenbits.com) in Dallas. I'm not interested in
        freelance work, but feel free to take a look at my [open source
        projects][github]. I co-organize [Ruby FTW](http://rubyftw.org), the
        Ruby enthuisast group of Fort Worth, which you (if you're located in the
        area) should definitely come it check out&mdash;we have free pizza!

        [github]: https://github.com/philtr

        I occasionally [write a note or two](/notes/) on topics I'm passionate
        about. I'm also the youth director at [Burleson Bible
        Church](http://burlesonbible.org) for students in 7th-12th grade. I
        apologize in advance for the fart jokes.

    :markdown

      ---

      The tech stack for this website includes:

        * [Jekyll](http://jekyllrb.com) for generating the site
        * [Sass](http://sass-lang.com/) for coherent styles
        * [Turbolinks](https://github.com/rails/turbolinks) for speedy page loads and client-side caching
        * [s3_website](https://github.com/laurilehmijoki/s3_website) to deploy it to:
          * [Amazon S3](http://aws.amazon.com/s3/) for static asset hosting
          * [Amazon CloudFront](http://aws.amazon.com/cloudfront/) as a distribution network for super-fast responses

      The type should be set in [your system UI font][system-ui].

        [system-ui]: http://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/

      ---

      I also exist elsewhere on the internet:

        * Code on [GitHub](https://github.com/philtr)
        * "Designs" on [Dribbble](http://dribbble.com/philtr)
        * Tweets on [Twitter](http://twitter.com/philtr)
        * Bad food pictures on [Instagram](https://instagram.com/philtr)
