---
layout: default
---

.intro
  :markdown
    I&rsquo;m a Ruby developer at [Oven Bits](http://ovenbits.com)
    in Dallas, Texas. I&rsquo;m not available for freelance work, but feel free to take a look at my
    [projects](http://philtr.github.io) or shoot me an [email](/contact).

:markdown
  I also exist elsewhere on the internet:

    * Code on [GitHub](https://github.com/philtr)
    * "Designs" on [Dribbble](http://dribbble.com/philtr)
    * Tweets on [Twitter](http://twitter.com/philtr)
