---
layout: default
permalink: error.html
---
%section.error
  %h1 Oops!
  %p
    I can’t find the page you’re looking for. Perhaps if you went back to the
    home page you could find what you were looking for? Sorry, wish I could be
    more help here.
