---
layout: master
description: "I'm a software engineer baking up awesome digital treats in Texas."
styles:
  - home
---

.container.container-wide
  .mister-ridlen
    <img src="{% asset_path phillipridlen.svg %}">

    %p.intro
      I'm a software engineer baking up awesome digital treats at
      <a href="http://ovenbits.com">Oven Bits</a>.


