---
layout: master
description: "Thoughts on web development and life in general by Phillip Ridlen, a Ruby developer in Dallas, Texas."
---

.container.container-wide
  .mister-ridlen
    <img src="{% asset_path phillipridlen.svg %}">

    %p
      I'm a Ruby developer baking up awesome digital treats at
      <a href="http://ovenbits.com">Oven Bits</a> in Dallas.


