#!/usr/bin/env ruby

preprocess do
  begin # blog post attributes from filename
    post_regex = %r{\A/posts/(links|notes)/(\d+)-(\d+)-(\d+)-(.+).md\z}
    @items.find_all(post_regex).each do |item|
      post_type, year, month, day, slug = item.identifier.to_s.match(post_regex).captures
      item[:post_type] = post_type
      item[:date] = Time.new(year, month, day)
      item[:slug] = slug
    end
  end
end

# Ignore transitional Jekyll files
ignore "/_*/**/*"

# Main Index Page
compile "/index.haml" do
  filter :haml
  layout "/default.*"
  write "/index.html"
end

# Blog Posts
compile "/posts/**/*.md" do
  filter :kramdown
  filter :colorize_syntax, default_colorizer: :rouge
  layout "/post.*"

  post_type     = @item[:post_type]
  category      = @item[:category]
  yyyy, mm, dd  = [@item[:date].year, @item[:date].month, @item[:date].day]
  slug          = @item[:slug]

  write "/#{post_type}/#{category}/#{yyyy}/#{mm}/#{dd}/#{slug}/index.html"
end

# Stylesheets
ignore '/**/_*.scss'
ignore '/**/_*.scss', rep: :source_map
compile '/**/*.scss' do
  filter :sassc, syntax: :scss
  write ext: '.css'
end

# Haml
compile "/**/*.haml" do
  filter :haml
  layout "/default.*"
  write item.identifier.without_ext + "/index.html"
end

# Catch-all
compile "/**/*" do
  write item.identifier.to_s
end

layout "/**/*", :erb
