#!/usr/bin/env ruby

# Ignore transitional Jekyll files
ignore "/_*/**/*"

# Main Index Page
compile "/index.html.erb" do
  filter :erb
  layout "/default.*"
  write "/index.html"
end

# Blog Posts
compile %r{\A/posts/(links|notes)/(\d+)-(\d+)-(\d+)-(.+).md\z} do |post_type, year, month, day, slug|
  filter :kramdown
  layout "/default.*"
  write "/#{post_type}/#{item.attributes.fetch(:category).downcase}/#{year}/#{month}/#{day}/#{slug}/index.html"
end

# Stylesheets
ignore '/**/_*.scss'
ignore '/**/_*.scss', rep: :source_map
compile '/**/*.scss' do
  filter :sassc, syntax: :scss
  write ext: '.css'
end

# Catch-all
compile "/**/*" do
  write item.identifier.to_s
end

layout "/**/*", :erb
