@sans: "proxima-nova-1", "proxima-nova-2", sans-serif;
@serif: "Palatino", "Palatino Linotype" "URW Palladio L", serif;
@fancy: "bello-pro-1","bello-pro-2", @sans;
@copy: @sans;
@display: @sans;
@code: "source-code-pro-1", "source-code-pro-2", "Inconsolata", "Consolas", "Menlo", "Monaco", monospace;
@iconfont: "icomoon";
@basefont: 18px;
@padding: @basefont * 2;
@bigheading: 300%;
@lineheight: 1.75;
