@sans: "brandon-grotesque", sans-serif;
@serif: "garamond-premier-pro", "Palatino", "Palatino Linotype" "URW Palladio L", serif;
@fancy: @sans;
@copy: @serif;
@display: @sans;
@code: "source-code-pro", "Inconsolata", "Consolas", "Menlo", "Monaco", monospace;
@iconfont: "icomoon";
@basefont: 18px;
@padding: @basefont * 2;
@bigheading: 300%;
@lineheight: 1.75;
