@import url(colors.less);
@import url(fonts.less);
@import url(mixins.less);

@content-width: 700px;

html { 
  margin: 0; padding: 0; }

body {
  background: @bgcolor;
  color: @textcolor;
  font-family: @copy;
  font-size: @basefont;
  line-height: @lineheight;
  margin: 0;
  padding: 0; }
  
header {
  &#header-main {
    background: @linkcolor;
    color: @bgcolor;
    height: 35px;
    a { color: @bgcolor; }
    #home { 
      font-family: @fancy;
      font-size: @basefont * 1.1;
      float: left;
      margin-top: 3px; }
    #header-main-inner { 
      max-width: @content-width;
      margin: 0 auto;
      h1 { 
        float: right;
        font-size: @basefont * 1.1;
        text-transform: uppercase;
        margin-top: 10px; } } }
  a { text-decoration: none; }
}

section#content {
  clear: both;
  margin: @basefont*3 auto;
  max-width: @content-width;
  padding: 0 20px 0 60px; }

h1 { .heading; font-size: @bigheading; }
h2 { .heading; font-size: @bigheading * .5; }
h3 { .heading; font-size: @bigheading * .4; }

p { margin: 0 0 @basefont 0; }

a { .rounded-corners(3px);
  color: @linkcolor;
  &:hover { 
    color: @accent3; }
  img { border: 0 } }
    
pre { .code; .rounded-corners;
  border: 1px solid @textcolor*2;
  max-height: 500px; 
  overflow: auto;
  overflow-x: auto;
  padding: @basefont;
  &::-webkit-scrollbar { 
   height: 5px; 
   margin: @basefont;
   width: 5px; }
  &::-webkit-scrollbar-track { 
    background-color: rgba(0,0,0,0.3); 
    border-radius: 3px; }
  &::-webkit-scrollbar-thumb { 
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;  }
  code {
    background: none; 
    padding: 0; } }
  
code { .code; .rounded-corners(2px);
  font-size: @basefont - 1px;
  padding: 2px; }
  
blockquote {
  border-left: 1px solid #ddd;
  color: @unimportant;
  margin-left: @basefont;
  padding-left: @basefont;
  code { font-style: normal; } }
  
article { .dividerBottom;
  h2 { 
    margin-bottom: 0; 
    padding-bottom: 0; }
    
  time { 
    color: @accent2;
    display: block;
    font-family: @display;
    font-size: @basefont;
    font-weight: 100;
    letter-spacing: 0;
    margin-bottom: @basefont; }
    
  p:last-child { margin-bottom: 0; }
  
  &:last-child { 
    border-bottom: none; 
    margin-bottom: 0; }
    
  aside { .dividerTop; .dividerBottom;
    color: @unimportant; 
    font-family: @serif;
    font-style: italic;
    font-weight: 100; }
    
  aside + aside {
    border-top: none;
    margin-top: 0;
    padding-top: 0; }
    
  &.photo {
    img { width: 100%; } }
  &.video {
    iframe { height: 400px; width: 550px; }}
    
  &:before {
    float: left;
    margin-left: -48px;
    margin-top: 8px; }
  &.blog:before  { content: url('/img/blog.png'); }
  &.link:before  { content: url('/img/link.png'); }
  &.music:before  { content: url('/img/music.png'); }
  &.photo:before { content: url('/img/photo.png'); }
  &.quote:before { content: url('/img/quote.png'); }
  &.video:before { content: url('/img/video.png'); }}
  
footer { 
  font-family: @sans;
  font-size: @basefont;
  clear: both; 
  a { text-decoration: none; }
  margin: @basefont*3 auto;
  max-width: @content-width;
  padding: 0 20px 0 60px; }
  
h1#draft {
  color: @accent1;
  float: left;
  font-size: 200px;
  line-height: 0;
  margin: 150px 0 -200px -525px;
  -moz-text-shadow: -3px 2px 1px #fff;
  -webkit-text-shadow: -3px 2px 1px #fff;
  text-shadow: -3px 2px 1px #fff;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg); }

#posts { .dividerBottom; padding-bottom: 0; }

#post article { padding-bottom: 0; }

.album {
  .cover { float: left; margin-right: @padding; }
  .music_info {
    padding: @padding*2 0;
    .album_title { font-size: @bigheading; }
    .artist { line-height: 1; }
    a { font-weight: bold; text-decoration: none; } }
  .review { clear: left; } }

#paginator {
  float: left;
  font-family: @sans;
  padding-bottom: @padding;
  width: 100%;
  p { .rounded-corners(5px);
    background: @linkcolor;
    color: @bgcolor;
    margin-bottom: @padding;
    padding: 0px 7px;
    &:hover { background: @accent3; }
    a { color: @bgcolor; text-decoration: none; } }
  .older { float: left; }
  .newer { float: right; }
}

#contact { .rounded-corners(5px 5px 0px 0px);
  background: #FFE;
  border: 1px solid #eed;
  color: @textcolor;
  display: none;
  font-family: @sans;
  font-style: normal;
  font-weight: bold;
  padding: @basefont;
  table { width: 100%; }
  label { 
    line-height: 1 }
  input[type="text"], textarea { .rounded-corners(2px);
    border: 1px solid #ddd;
    font-family: @copy;
    font-size: @basefont;
    padding: 6px; }
  input[type="text"] { width: 90%; }
  textarea { height: 125px; width: 95%; } }

#license, #rss { 
  position: relative;
  top: 3px; }
  
#archive { .dividerBottom;
  float: left;
  width: 100%;
  dt { clear: left; float: left; }
  dd { float: left; margin-left: 1ex; } }
  
#notice { .rounded-corners(5px);
  background: #ffe;
  border: 1px solid #eed;
  display: none;
  padding: @basefont;
  color: @textcolor; }
  
@media all and (max-width: 700px) {
  #header-main-inner {
    padding: 0 20px;  }
  section#content {
    padding: 0 20px; }
  article::before {
    display: none; }
}