---
title: About Me
---

%section.text
  .markdown
    .intro
      :markdown
        Hi, there! I'm a software engineer weaving code at [Stitch
        Fix](http://stitchfix.com). Before that I was baking up awesome digital
        treats at [Oven Bits](http://ovenbits.com) in Dallas.

        I occasionally [write a note or two](/notes/) on topics I'm passionate
        about. I'm also the youth director at [Burleson Bible
        Church](http://burlesonbible.org) for students in 7th-12th grade. I
        apologize in advance for the fart jokes.

        I previously organized [Ruby FTW](http://rubyftw.org), the Ruby enthuisast group
        of Fort Worth, Texas, but have since passed the torch on to others.

    :markdown
      ---

      I try to respond to email within 48 hours. Feel free to get in touch
      directly: <#{@config[:email]}>.
