---
title: "Church Livestream Audio/Video Resources"
description: "Given the recent need for churches everywhere to invest time, effort, and money into livestreaming their worship service, having a list of recommended resources could come in handy. This page is regularly updated from the publicly-editable Google Doc."
styles:
 - google_doc
---
<div class="comment">
  <p class="intro">
      Given the recent need for churches everywhere to invest time, effort, and
      money into livestreaming their worship service, having a list of recommended
      resources could come in handy. This page is updated every 15 minutes from the
      publicly-editable
      <a href="https://docs.google.com/document/d/1LJ7Gd1riOXBQaogUdNmkLPdnIWypnUeZpMniATvVWuI/edit#">Google Doc</a>.
  </p>
</div>

<div id="google-doc">
  <%= church_av_resources %>
</div>
