<div style="margin-bottom: 2rem;">
  <p style="margin: 1rem 0;">
    <em>Given the recent need for churches everywhere to invest time, effort, and
      money into livestreaming their worship service, having a list of recommended
      resources could come in handy. This page is regularly updated from the
      publicly-editable
      <a href="https://docs.google.com/document/d/1LJ7Gd1riOXBQaogUdNmkLPdnIWypnUeZpMniATvVWuI/edit#">Google Doc</a>.</em>
  </p>
  <p style="margin: 1rem 0;"><em>Last updated <%= Time.now.strftime("%B %-d, %Y at %-I:%M %P") %>.</em></p>
</div>

<%= church_av_resources %>
