---
title: "Church Livestream Audio/Video Resources"
description: "Given the recent need for churches everywhere to invest time, effort, and money into livestreaming their worship service, having a list of recommended resources could come in handy. This page is regularly updated from the publicly-editable Google Doc."
styles:
 - google_doc
---
<div class="page-description">
  <p class="intro">
      Given the recent need for churches everywhere to invest time, effort, and
      money into livestreaming their worship service, having a list of recommended
      resources could come in handy. This page is updated once an hour from the
      publicly-editable
      <a href="https://docs.google.com/document/d/1LJ7Gd1riOXBQaogUdNmkLPdnIWypnUeZpMniATvVWuI/edit#">Google Doc</a>.
  </p>
</div>

<%= google_doc_content("https://docs.google.com/document/d/e/2PACX-1vQy9mIg73kxkN2tG9u1N4svmeuJ2Q2Kn4RhhrhaEWEMbX1wBjsFCAL1oEKDWAxlsgccrrwQa8dozrzE/pub") %>
