---
layout: master
description: "I'm a software engineer baking up awesome digital treats in Texas."
styles:
  - home
---

.mister-ridlen
  %img{src: "images/phillipridlen.svg"}

  %p.intro
    I'm a software engineer weaving code at
    <a href="http://stitchfix.com">Stitch Fix</a>.
