---
layout: master
description: "I'm a software engineer weaving code in Texas."
styles:
  - home
---

.mister-ridlen
  %section#about.text
    .intro
      :markdown
        Hi, there! This is my website. I'm a follower of Christ, husband to my
        beautiful wife, and father to [three][b] [wonderful][h] [kids][l]. I
        make a living as a software engineer, solving business problems
        (sometimes with software).

        If you're wondering what I'm currently up to, visit my [now page][now].

        Every once in a great while, I get the itch to [write a note][notes] on
        topics that I care about. My opinions are my own and do not necessarily
        reflect those of my employer.

        [b]: http://bennettalexander.co
        [h]: http://hudsonkruse.co
        [l]: http://legacyrose.co
        [notes]: /notes/
        [now]: /now/

%section#latest
  .latest-updates
    .update
      .update-title Church Livestream A/V Resources
      .update-teaser
        %p
          Given the recent need for churches everywhere to invest time, effort,
          and money into livestreaming their worship service, having a list of
          recommended resources could come in handy.
        %p= link_to("View the Resources &rarr;", "/church-livestream-audio-video-resources/")

:markdown
  ---

  I try to respond to email within 48 hours. Feel free to get in touch
  directly: <#{site_config.email}>.
