---
layout: master
description: "I'm a software engineer weaving code in Texas."
styles:
  - home
---

.mister-ridlen
  %img{src: "images/phillipridlen.svg"}

  %section#about.text
    .markdown
      .intro
        :markdown
          Hi, there! This is my website. I'm a follower of Christ, husband to my
          beautiful wife, and father to [three][b] [wonderful][h] [kids][l]. I
          make a living as a software engineer, solving business problems
          (sometimes with software).

          Every once in a while, I get the itch to [write a note][notes], but
          there are very few I'm actually proud of. Many of my articles are barely
          more than links to other, better articles, and the rest are short and
          unpolished.

          [b]: http://bennettalexander.co
          [h]: http://hudsonkruse.co
          [l]: http://legacyrose.co
          [notes]: /notes/

:markdown
  ---

  I try to respond to email within 48 hours. Feel free to get in touch
  directly: <#{site_config.email}>.
