---
layout: default
---


%section.contact
  .contact

    %form{ role: "form", id: "contact", action: "https://formkeep.com/f/321d46f244f3", method: "post" }
      .form-group#name-field
        %label.control-label{ for: "name" } Your Name
        %input.form-control{ id: "name", type: "text", name: "name" }
      .form-group#email-field
        %label.control-label{ for: "name" } Your Email
        %input.form-control{ id: "name", type: "email", name: "email" }

      .form-group#message-field
        %label.control-label{ for: "message" } Your Message
        %textarea.form-control{ id: "message", name: "message", rows: 5 }

      .form-group#submit
        %button.btn.btn-primary{ type: "submit" } Say Hello

%section.text
  :markdown
    Or get in touch directly: <p@rdln.net>.
