<div id="censorship"><a href="http://americancensorship.org">Stop Censorship <em>&raquo;</em></a></div>
<style>
  #censorship {
    display: none;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 5555;
    background: #111;
    background: -webkit-linear-gradient(#111, #222);
    top: 100px;
    left: 0;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.1),
      0 1px 0 rgba(255,255,255,0.1) }
    #censorship a {
      display: block;
      width: 150px;
      margin: 21px auto;
      color: #ddd;
      text-shadow: 0px -1px 0px #000;
      text-transform: uppercase; }
      #censorship a:hover {
        color: #fff; }
      #censorship a em {
        font-style: normal;
        color: #3A7878; }
</style>