<p id="coderwall">
  <a href="http://coderwall.com/philtr">
    <img width="50" src="http://coderwall.com/images/badges/nephilakomaci.png"/>
    <img width="50" src="http://coderwall.com/images/badges/forked.png"/>
    <img width="50" src="http://coderwall.com/images/badges/charity.png"/>
    <img width="50" src="http://coderwall.com/images/badges/mongoose.png"/>
    <img width="50" src="http://coderwall.com/images/badges/mongoose3.png"/>
    <img width="50" src="http://coderwall.com/images/badges/cub.png"/>
  </a>
</p>