<aside id="contact">
  <form action="http://contact.blog.phillipridlen.com" method="post">
    <input type='hidden' name='return' value='{{ site.url }}{{ page.url }}' />
    <input type='hidden' name='send_to' value='{{ site.email }}' />
    <input type='hidden' name='subject' value='Re: {{ page.title }}'>
    <table>
      <tr>
        <td class="field">
          <label for="name">Your Name:</label><br/>
          <input type="text" name="name" id="name" />
        </td>
        <td class="field">
          <label for="email">Your Email:</label><br/>
          <input type="text" name="email" id="email" />
        </td>
      </tr>
      <tr>
        <td class="field" colspan="2">
          <label for="message">Your Message:</label><br />
          <textarea name="message" id="message"></textarea>
        </td>
      </tr>
    </table>
    <input type="submit" value="Send message" />
    or <a href="{{ page.url }}" id="cancel_email">Cancel</a>
  </form>
</aside>