<footer>
  <hr/>
  <div class="container">
    <div class="pull-right">
      <div class="social">
        <a href="https://github.com/philtr"><span class="fa fa-github-square"></span></a>
        <a href="https://facebook.com/philtr"><span class="fa fa-facebook-square"></span></a>
        <a href="http://twitter.com/philtr"><span class="fa fa-twitter-square"></span></a>
        <a href="{{ site.rss }}"><span class="fa fa-rss-square"></span></a>
        <a href="/contact"><span class="fa fa-envelope-square"></span></a>
      </div>
    </div>

    <p><a href="http://creativecommons.org/licenses/by-nc/3.0/" title="Creative Commons
        Attribution-NonCommercial 3.0" class="cc-icons">cbn</a></p>
  </div>
</footer>
