<header class="navigation" id="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      Phillip Ridlen
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for nav in site.navigation %}{% if nav.url == page.url %}
            <li class="nav-link active-nav-item"><a href="{{ nav.url }}">{{ nav.name }}</a></li>
          {% else %}
            <li class="nav-link"><a href="{{ nav.url }}">{{ nav.name }}</a></li>
          {% endif %}{% endfor %}
      </ul>
    </nav>
  </div>
</header>

