<meta name="description" content="{{ page.description }}" />

<!-- Facebook OpenGraph Meta Tags -->
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}Phillip Ridlen" />
<meta property="og:image" content="http://gravatar.com/avatar/a9afd72caf82c3b98c292a379f53228a?s=256" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:description" content="{{ page.description }}" />


<link rel="author" href="https://plus.google.com/102506368462184573833" />

