<!--[if lt IE 9]>
  <style type="text/css">
    body { text-align: center; }
    #content { width: 600px; margin: 0 auto; text-align: left; }
    #sadface { font-size: 400px; line-height: 1.2em; }
  </style>
  <h1><a href="{{ site.base-url }}/">Phillip's Blog</a></h1>
  <h2>The notes, quotes, and other miscellany of Phillip T. Ridlen</h2>
  <div id="sadface">:'(</div>
  <p><strong>WARNING:</strong> The site below may look terrible. I encourage you to upgrade to one of these standards-compliant browsers:</p>
  <p><a href="http://firefox.com">Get Mozilla Firefox</a></p>
  <p><a href="http://google.com/chrome">Get Google Chrome</a></p>
  <p><a href="http//apple.com/safari">Get Apple Safari</a></p>
  <hr />
  <div id="content">
  {{ content }}
  </div>
<![endif]-->
