---
layout: default
permalink: /resources/kjhs/2016
---

%br= # Oh yes I did

%section.text
  .markdown
    :markdown
      # Welcome, career day students!

      Hey there KJHS student, thanks for dropping by. It was great to meet you
      today! I hope you were inspired by all the career day presenters to forge
      your own path in the world.

      Here is a link to my slides: <https://github.com/philtr/kjhs-2016>

      ## Other helpful links

      Here are some helpful links if you're interested in a career in web development:

        - CodeCademy - <https://www.codecademy.com>

