.post header {
  text-align: center;
}

.post header h2 {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 0;
}

.post header h2 a {
  text-decoration: none;
}

.post header h2 a:hover {
  text-decoration: underline;
}

.post aside {
  font-style: italic;
}

dl.posts {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 36px;
  padding-bottom: 36px;
  float: left;
  line-height: 1;
  margin-top: 0;
  width: 100%;
}

dl.posts dt {
  clear: left;
  float: left;
  font-weight: 300;
  line-height: 1.3333333333333333;
  width: 150px;
}

dl.posts dd {
  margin-left: 150px;
  margin-bottom: .75em;
}

dl.posts dd a {
  text-decoration: none;
}
