---
---
@import "bootstrap";
@import "components/cc-icons";
@import "components/tutti-frutti";

@import "elements/header";
@import "elements/intro";
@import "elements/post";

html.turbolinks-progress-bar::before {
  background-color: $brand-danger !important;
  height: 1px !important;
}

p, ul:not([class~="nav"]) {
  a {
    text-decoration: underline;
  }
}

