<% render "/default.html" do %>
  <div class="photo">
    <h1 class="post-title header-link"><%= link_to @item[:title], @item.path %></h1>
    <div class="post-date">
      <time datetime="<%= @item[:date].strftime("%Y-%m-%d %H:%M") %>">
        <%= link_to @item[:date].strftime("%A, %B %d, %Y, %-I:%M%P"), @item, class: "post-permalink" %>
      </time>
    </div>
    <%= yield %>
    <a href="<%= @item.path(rep: :original) %>"><img src="<%= @item.path(rep: :medium) %>"></a>
    <figcaption>
        <%= @item[:camera] %> <%= @item[:lens] %><br>
        <%= @item[:f_stop] %>, <%= @item[:exposure] %>, ISO <%= @item[:iso] %>
    </figcaption>
  </div>
<% end %>
