---
layout: default
description: "Thoughts on web development and life in general by Phillip Ridlen, a Ruby developer in Dallas, Texas."
styles:
  - posts/list
---

<h1>Notes</h1>

<section class="posts">
  <p class="intro">
    I don't write often or very much. Many of the following articles are barely
    more than links to other, better articles, and the rest are short and
    unpolished. Read at your own risk. ;)
  </p>
  {% for category in site.categories %}
    <h3 id="{{ category[0] }}" class="header-link"><a href="#{{ category[0] }}">{{ category[0] }}</a></h3>
    <ul class="posts-list">
      {% for post in category[1] %}
        {% if site.show_drafts != true or site.show_drafts and post.draft %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <aside><time datetime="{{ post.date | date: "%Y-%m-%d" }}" title="{{ post.date | date: "%A, %B %-d, %Y" }}">{{ post.date | date: "%Y" }}</time></aside>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</section>

