:root {
  --mauve-900: #1c1621;
  --mauve-500: #41324f;
  --mauve-400: #716d7e;
  --mauve-100: #afabba;
  --mauve-50: #eeedeb;

  --teal: #2e9ea0;
  --emerald: #108376;

  --light-pink: #ab6788;
  --bright-pink: #c5388c;
  --raspberry: #bc184e;

  --dark-white: #f4f3f7;

  --primary-text-color: var(--mauve-500);
  --dim-text-color: var(--mauve-400);
  --pale-text-color: var(--mauve-100);
  --faded-text-color: var(--mauve-50);
  --letterpress-highlight-color: white;

  --primary-accent-color: var(--emerald);
  --secondary-accent-color: var(--light-pink);
  --tertiary-accent-color: var(--raspberry);

  --primary-background-color: white;
  --dim-background-color: var(--dark-white);

  --serif: "Times New Roman", serif;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --monospace: Menlo, Monaco, monospace;

  --font-size-base-px: 15px;
  --font-size-base: 1rem;
  --line-height-base: 1.6;

  --radius: 0.5rem;
  --gutter: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: var(--mauve-50);
    --dim-text-color: var(--mauve-100);
    --faded-text-color: var(--mauve-900);
    --primary-background-color: black;
    --dim-background-color: var(--mauve-900);
    --letterpress-highlight-color: var(--mauve-400);
  }
}

html {
  background-color: var(--primary-background-color);
  font-size: var(--font-size-base-px);
}

body {
  color: var(--primary-text-color);
  font-size: var(--font-size-base);
  font-family: var(--sans-serif);
  line-height: var(--line-height-base);

  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-feature-settings: "liga" 1;
}

.container {
  padding: var(--gutter);
  margin: 0 auto;
  max-width: 55rem;

  &.wide {
    max-width: 70rem;
  }
}

h1.brand {
  font-size: 1.5rem;
  line-height: 4rem;

  a {
    text-decoration: none;
  }
}

a {
  color: var(--primary-accent-color);

  &:active {
    color: var(--tertiary-accent-color);
  }
}

.header-link,
.header-link a {
  color: var(--primary-text-color);
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  margin-bottom: 0.5rem;
}

footer {
  color: var(--dim-text-color);
  padding: 0 0 $gutter 0;

  p {
    margin: 0;
    text-align: center;
  }

  aside {
    color: var(--pale-text-color);
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;

    & a {
      color: var(--pale-text-color);
    }
  }

  @media screen and (min-width: 100ch) {
    p {
      float: left;
    }

    aside {
      text-align: right;
    }
  }
}

hr {
  background: var(--faded-text-color);
  border: 0;
  height: 1px;
  margin: var(--gutter) 0;
}

.intro {
  font-size: 1.2rem;
}

blockquote {
  border-left: 3px solid var(--faded-text-color);
  margin-left: 0.5rem;
  padding-left: 1rem;
}
