@font-face {
  font-family: 'Creative Commons Icons';

  src: asset-url('cc-icons/cc-icons-webfont.eot');
  src: asset-url('cc-icons/cc-icons-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('cc-icons/cc-icons-webfont.woff') format('woff'),
       asset-url('cc-icons/cc-icons-webfont.ttf') format('truetype'),
       asset-url('cc-icons/cc-icons-webfont.svg#cc_iconsregular') format('svg');

  font-weight: normal;
  font-style: normal;
}
.cc-icons {
  font-family: 'Creative Commons Icons';
  letter-spacing: 2px;
  position: relative;
  bottom: -2px;
  text-decoration: none;
}
