footer {
  border-top: 1px solid tint($light-gray, 80%);
  color: $light-gray;
  margin-top: 4em;
  padding: 2em 0;
  text-align: center;

  .footer-icon {
    @include filter(grayscale(60%) opacity(70%));
    height: 1.5em;
    position: relative;
    top: 0.33em;
  }
}
