section.posts {
  @include outer-container;

  ul li {
    text-align: center;

    @include media($large-screen-up) {
      text-align: left;
      line-height: 2.4;
    }

    small {
      display: block;
      color: tint($base-font-color, 50%);
      font-size: 70%;
      text-transform: uppercase;

      @include media($large-screen-up) {
        display: inline-block;
        text-align: left;
        width: 14em;
      }
    }

    a {
      display: block;
      margin-bottom: modular-scale(1);

      @include media($large-screen-up) {
        display: inline;
        width: 75%;
      }
    }
  }

  .post {
    &-date {
      text-align: center;
      margin-bottom: modular-scale(4);
    }

    &-permalink {
      color: $medium-gray;
    }

    &-title {
      font-size: modular-scale(1);
      font-weight: 900;
      text-align: center;

      a {
        color: tint($base-font-color, 20%);
      }

      @include media($medium-screen-up) {
        font-size: modular-scale(3);
      }
    }

    blockquote {
      border-left: 2px solid $light-gray;
      margin-left: 1em;
      padding-left: 1em;
    }

    & + .post {
      &::before {
        color: tint($light-gray, 60%);
        content: "• • •";
        display: block;
        margin-bottom: 3em;
        margin-top: 3em;
        text-align: center;
        width: 100%;
      }
    }
  }
}
