section.posts {
  @include outer-container;

  .post {
    &-date {
      text-align: center;
      margin-bottom: modular-scale(4);
    }

    &-permalink {
      color: $medium-gray;
    }

    &-title {
      font-size: modular-scale(1);
      font-weight: 900;
      text-align: center;

      a {
        color: tint($base-font-color, 20%);
      }

      @include media($medium-screen-up) {
        font-size: modular-scale(3);
      }
    }

    blockquote {
      border-left: 2px solid $light-gray;
      margin-left: 1em;
      padding-left: 1em;
    }

    & + .post {
      &::before {
        color: tint($light-gray, 60%);
        content: "• • •";
        display: block;
        margin-bottom: 3em;
        margin-top: 3em;
        text-align: center;
        width: 100%;
      }
    }
  }

  ul.pager.nav {
    margin-top: 2em;
    text-align: center;

    .previous, .next {
      display: inline-block;
      padding: 0 2em;
    }
  }
}
