section.projects {
  @include outer-container;

  .projects-intro {
    font-size: modular-scale(1);
  }

  .project {
    margin-bottom: 1em;

    img {
      border-radius: 0.25em;
    }

    h5 {
      margin-top: 1em;
    }

    @include media($medium-screen-up) {
      @include span-columns(4 of 8);

      &:nth-child(2n+1) {
        @include omega;
      }
    }

    img {
      border-radius: 0.25em;
    }
  }
}
