@import "shared"

html
  font-size: $base-font-size

body
  color: $primary-text-color
  font-size: 1rem
  padding: 2rem
  margin: 0 auto
  max-width: 46rem
  font-family: $sans-serif
  line-height: 1.6

a
  color: $primary-accent-color
  text-decoration: none

  &:hover
    text-decoration: underline

.header-link, .header-link a
  color: $primary-text-color
  margin-bottom: 0

img
  max-width: 100%

footer
  color: $dim-text-color
  padding: 0 0 2rem 0

  p
    margin: 0
    text-align: center

  table
    border-collapse: collapse
    margin: 0 auto
    min-width: 10rem
    text-align: center

  @media screen and (min-width: $breakpoint)
    p
      float: left
    table
      float: right
      text-align: right

hr
  background: $dim-text-color
  border: 0
  height: 1px
  margin: 2rem 0

.intro
  font-size: 1.2rem

figure.highlight, blockquote
  border-left: 3px solid $dim-text-color
  margin-left: .5rem
  padding-left: 1rem
