// Frameworks
// ================================================================================================
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

// Components
// ================================================================================================
@import "components/highlight";
@import "components/hyphens";
@import "components/markdown";

@import "components/contact";
@import "components/errors";
@import "components/footer";
@import "components/gallery";
@import "components/navigation";
@import "components/posts";
@import "components/projects";
@import "components/text";

// Simple Customizations
// ================================================================================================

.container {
  min-height: 100%;
  padding: 0 1em;
}

.mister-ridlen {
  @include outer-container;
  text-align: center;

  img {
    @include span-columns(6 of 12);
    @include shift(3 of 12);
    margin-bottom: 4em;
    margin-top: 2em;
  }

  p {
    @include span-columns(12 of 12);
    font-size: modular-scale(2);
  }
}
