body
  color: #41323f
  font-size: 1rem
  padding: 2rem
  margin: 0 auto
  max-width: 45rem
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Droid Sans", "Cantarell", sans-serif
  line-height: 1.5

a
  color: #41A186
  text-decoration: none

a:hover
  text-decoration: underline

img
  max-width: 100%

footer
  color: #b9b6b0
  padding: 0 0 2rem 0

  p
    margin: 0
    text-align: center

  table
    border-collapse: collapse
    margin: 0 auto
    min-width: 10rem
    text-align: center

  @media screen and (min-width: 500px)
    p
      float: left
    table
      float: right
      text-align: right

hr
  background: #b9b6b0
  border: 0
  height: 1px
  margin: 2rem 0


.intro
  font-size: 1.2rem

.mister-ridlen
  text-align: center

  img
    width: 40%
    margin: 0 auto

.posts
  ul.posts-list
    list-style-type: none
    padding: 0
    line-height: 2

    li small
      clear: left
      color: #b9b6b0
      float: left
      text-transform: uppercase
      width: 11rem

  .post-title, .post-title a
    color: #41323f
    margin-bottom: 0

  .post-date a
    color: #b9b6b0

figure.highlight, blockquote
  border-left: 3px solid #b9b6b0
  margin-left: 0
  padding-left: 1.5rem
