.post {
  & + .post { margin-top: 3em; }

  .post-title {
    font-family: $headings-font-family;
    font-size: $font-size-large;
    font-weight: bold;
    margin-bottom: 1em;

    a {
      text-decoration: underline;

    }
  }

  .post-date {
    color: $gray-light;
  }

  .post-category {
    color: $gray-lightly;
    display: inline-block;
  }


  code {
    font-size: 70%;
  }

  img {
    max-width: 100%;
  }

  .footnotes {
    border-top: 1px solid $gray-lighter;
    padding-top: 1em;

    font-size: $font-size-small;
  }

  .post-via {
    color: $gray-lightly;
    font-style: italic;
  }

  .post-meta {
    color: $gray-lightly;
    margin-top: 2em;
    text-align: center;

    .fa, a {
      Color: $gray-lightly;
    }

    .fa-chevron-left, .fa-chevron-right {
      color: $gray-lighter;
    }
  }
}
