.post-content {
  img,
  video {
    height: auto;
    width: 100%;

    &.framed {
      border-radius: var(--radius);
    }
  }

  figcaption {
    color: var(--dim-text-color);
    font-family: var(--sans-serif);
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}
