---
layout: master
description: "Occasional links and articles from Phillip Ridlen."
---

%h1#notes Notes

%section.posts
  %p.intro
    I don't write often or very much. Many of the following articles are barely
    more than links to other, better articles, and the rest are short and
    unpolished. Read at your own risk. ;)

  .posts-categories
    - posts_grouped_by_category.each do |category, posts|
      .posts-category
        %h3.header-link{ id: category }
          != link_to_category category
        %ul.posts-list
          - posts.each do |post|
            %li
              != link_to post.attributes[:title], post
              %aside
                %time{ datetime: post[:date].strftime("%Y-%m-%d"), title: post[:date].strftime("%A, %B %-d, %Y") }
                  = post[:date].year
