<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0"/>

    <title>{% if page.title %}{{ page.title }} | {% endif %}Phillip Ridlen</title>

    <link href="{{ site.url }}/atom.xml" rel="alternate" title="Phillip Ridlen" type="application/atom+xml" />

    {% asset main.css %}
    {% for style in layout.styles %}
      {% asset '{{ style }}.css' %}
    {% endfor %}
    {% for style in page.styles %}
      {% asset '{{ style }}.css' %}
    {% endfor %}

    {% include head/favicon.html %}
    {% include head/metadata.html %}

    <script src="https://embed.small.chat/T0T6AQH8BGAD5PJY1E.js" async></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
