<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0"/>

    <title>{% if page.title %}{{ page.title }} | {% endif %}Phillip Ridlen</title>

    <link href="{{ site.url }}/atom.xml" rel="alternate" title="Phillip Ridlen" type="application/atom+xml" />

    {% css main %}
    {% for style in layout.styles %}
      {% css '{{ style }}' %}
    {% endfor %}
    {% for style in page.styles %}
      {% css '{{ style }}' %}
    {% endfor %}

    {% include head/favicon.html %}
    {% include head/metadata.html %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
