<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0"/>
    <title>{% if page.title %}{{ page.title }} | {% endif %}Phillip Ridlen's Blog</title>
    <link href="http://feeds.feedburner.com/philtrblog" rel="alternate" title="Phillip's Blog" type="application/atom+xml" />

    {% include libraries.html %}

  </head>
  <body>

    {% include sadface.html %}

    <!--[if (gte IE 9)|!(IE)]><!-->

    {% include header.html %}

    <section id="content">
      <div id="notice">
        <span class="content"></span>
        <span class="close"><a href="#">Close</a></span>
      </div>

      {{ content }}
    </section>

    {% include footer.html %}

    <!--<![endif]-->
  </body>
</html>
