<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% if page.title %}{{ page.title }} | {% endif %}Phillip's Notes, Quotes, and Other Miscellany</title>
    <link href="http://feeds.feedburner.com/philtrblog" rel="alternate" title="Phillip's Blog" type="application/atom+xml" />
    
    {% include libraries.html %}

  </head>
  <body>

    {% include sadface.html %}

    <!--[if (gte IE 9)|!(IE)]><!-->

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <!--<![endif]-->
  </body>
</html>
