<!DOCTYPE html>
<html>
  <head>
    <title>Phillip Ridlen</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="http://use.typekit.com/cak6cdh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <header>
      {% include logo.html %}
      <div id="logotype">
        <h1>Phillip Ridlen</h1>
      </div>
      </div>
      {{ content }}
    </div>
  </body>
</html>