<!DOCTYPE html>
<html>
  <head>
    <title>Phillip Ridlen | Ruby Web Developer &amp; Designer in Fort Worth, Texas</title>
    <meta name="viewport" content="initial-scale=0.8"/>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
    {% include scripts/typekit.html %}
    {% include scripts/analytics.html %}
  </head>
  <body>
    <section id="container">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </section>
    {% include scripts.html %}
  </body>
</html>
