<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0"/>
    <title>{% if page.title %}{{ page.title }} | {% endif %}Phillip Ridlen</title>
    <link href="http://feeds.feedburner.com/philtrblog" rel="alternate" title="Phillip's Blog" type="application/atom+xml" />

    <link rel="stylesheet" href="{{ site.base-url}}/assets/css/notes.css" />
    <link rel="stylesheet" media="screen,projector" href="https://cdn.rawgit.com/chrissealey/tutti-frutti/master/tutti-frutti.css" />

    <script>
      {% include js/ga.js %}
    </script>

    <script type="text/javascript" src="//use.typekit.net/bcz6xxf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>

    <section id="content">
      {{ content }}
    </section>

    {% include footer.html %}

  </body>
</html>
