---
layout: default
---
<section id="post">
  <article class="{{ page.type }}">
    <header>
      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      {% unless page.draft %}
      <time datetime="{{ page.date }}">{{ page.date | date: '%B %d, %Y' }}</a></time>
      {% endunless %}
    </header>

    {% if page.photo %}
      <p><a href="/photos/{{ page.photo }}.png"><img src="/photos/{{ page.photo }}_preview.png" /></a></p>
    {% endif %}

    {{ content }}

    {% if page.aside %}
    <aside>
      {{ page.aside | textilize }}
    </aside>
    {% endif %}

    <aside>
      If you have any comments or concerns, feel free to <a
      id="send_email" href="mailto:{{ site.email }}">send an email to
      {{ site.email }}</a> or mention <a
      href="http://twitter.com/philtr">@philtr</a> on Twitter. I'll
      update this post with any insightful, interesting, or corrective
      comments.
    </aside>
    {% include contact_form.html %}
  </article>
</section>
