---
breadcrumbs:
  - title: Notes
    link: /notes

styles:
  - posts
---
<% render "/default.html", layout_styles: @layout[:styles] do %>
  <section class="posts">
    <div class="post">
      <%= render "/post/title.html" %>
      <%= render "/post/date.html" %>
      <% render "/post/content.html" do %>
        <%= yield %>
      <% end %>
    </div>
    <% if (reader_comments = reader_comments_html) %>
      <hr>
      <section id="comments" class="post-comments">
        <h2>Reader Comments</h2>
        <div class="post-content post-comments-content">
          <%= reader_comments %>
        </div>
      </section>
    <% end %>
  </section>
<% end %>
