---
title: 2016 Kennedale Jr. High Career Day Resources
---

%br= # Oh yes I did

%section.text
  %p
    %time{ datetime: "2015-05-20 9:15:00 -0500" }
      May 20, 2016

    :markdown
      # Hey, Wildcats!

    .intro
      :markdown
        Welcome, and thanks for dropping by. It was great to meet you today! I
        hope you were inspired by all the presenters to forge your own path in
        the world.

  :markdown
    - **If you're looking for my slides, you can find them here:**
      <https://github.com/philtr/kjhs-career-day/tree/master/2016>

    - **\#FridayHugs** are at the [bottom of this page](#fridayhug).

    _So you want to be a web or mobile developer?_ Awesome! Going to a
    university or technical school is a great start to a career in programming
    and web development. I’ve included links to some great schools at the
    bottom of the page. But on top of that, you’ve got to be a self-starter
    and learn some things on your own. You can get started learning now, for
    free, using the wealth of resources available on the internet.

    ## Some helpful links

    > Here are some helpful links if you're interested in a career in web
      development.

    ### Free resources:

      - CodeCademy - <https://www.codecademy.com> - “Learn to code
        interactively, for free.”
      - Khan Academy – <https://www.khanacademy.org/> – “Khan Academy offers
        practice exercises, instructional videos, and a personalized learning
        dashboard that empower learners to study at their own pace in and
        outside of the classroom. We tackle math, science, computer
        programming, history, art history, economics, and more.”
      - Try Ruby – <http://tryruby.org/> – 15 Minute introduction to
        programming with the Ruby programming language.
      - Stanford University: Developing iOS 8 Apps with Swift –
        <https://itunes.apple.com/us/course/developing-ios-8-apps-swift/id961180099> –
        There are also many other great computer science courses on iTunes U
      - Cloud9 – <https://c9.io/> – Free online computing platform and code
        editor.
      - Mozilla Developer Network – <https://developer.mozilla.org/en-US/Learn> –
        Free web development course from the creators of the Firefox web
        browser.

    ### Paid resources:

    > These are great, but don't pay for them until you've exhausted the free
      resourcess above.

      - Codeschool – <https://www.codeschool.com/> – “Code School teaches web
        technologies in the comfort of your browser with video lessons, coding
        challenges, and screencasts.”
      - Upcase - <https://thoughtbot.com/upcase/> - “For aspiring senior
        developers looking for battle-tested best practices, a killer
        community, and mentorship from the right people.”
      - Pragmatic Studio - <https://pragmaticstudio.com> -  “Top developer
        training from the folks who wrote the books”
      - Treehouse - <https://teamtreehouse.com> - “Learn from over 1000 videos
        created by expert teachers on web design, coding, business, and much
        more.”
      - Lynda.com – <http://www.lynda.com/> – “New skills. Improved skills.
        Now. Learn technology, creative and business skills you can use
        today.”
      - Udemy – <https://www.udemy.com/> – Crowd-sourced learning for just
        about anything. Many times will have sales for an entire course for
        $20 (regularly $100-200)

    ### Higher learning:

    Technical Schools:

    > These are two fantastic schools. If you're interested in how the
      education differs from a traditonal university, please read the
      ["Bootcamps vs. College"](#articles) article linked below.

      - Turing School of Software & Design – <http://turing.io/> – “Start with
        passion, grit, and an aptitude for logic. Spend seven intense months
        learning, collaborating, and building. Then emerge a production-ready
        software developer.”
      - Full Sail University – <http://www.fullsail.edu/> – “Full Sail
        University offers campus and online degree programs that are designed
        for the world of entertainment and media. Offering associate's,
        bachelor's, and master's degrees, Full Sail's approach is centered on
        real-world industry experience.”

    Universities:

    > Watch out! Every school will try to tell you they have a great computer
      science program. Don't take their word for it! Make sure you do research
      to see how they actually stack up!

      - Stanford University – <http://cs.stanford.edu>
      - MIT – <http://cs.mit.edu>
      - Carnegie Mellon University – <http://www.cs.cmu.edu>
      - Rice – <http://www.cs.rice.edu>
      - Local option: UT Dallas – <http://cs.utdallas.edu/>

    ### Articles

    - ["Hire managers of one"][1] by Basecamp:

      > A manager of one is someone who comes up with their own goals and
        executes them. They don’t need heavy direction. They don’t need
        daily check-ins. They do what a manager would do — set the tone,
        assign items, determine what needs to get done, etc. — but they do
        it by themselves and for themselves.

    - ["Bootcamps vs. College"][2] by Ammon Bartram

      > We’ve found bootcamp grads as a group to be better than college grads
        at web programming and writing clean, modular code, and worse at
        algorithms and understanding how computers work. All in all, we’ve had
        roughly equivalent success working with the two groups.

    [1]: https://signalvnoise.com/posts/1430-hire-managers-of-one
    [2]: https://web.archive.org/web/20221202004040/https://triplebyte.com/blog/bootcamps-vs-college

    ### Other links

    - [Oven Bits](http://ovenbits.com) - My employer
    - [Vim](http://vim.org) - My text editor poison of choice

  :markdown
    ## #FridayHug

    It's Friday! <http://fridayhug.com>

  .gallery
    - 1.upto(5) do |number|
      .gallery-item{ style: "display: inline-block; width: 49.5%" }
        %a{ href: "/images/resources/kjhs/2016/hugs/original/hug#{number}.jpg" }
          %img{ src: "/images/resources/kjhs/2016/hugs/thumb/hug#{number}.jpg" }
