pre, code {
  font-family: var(--monospace);
  font-size: 0.9em;
}

code {
  display: inline-block;
  background: var(--dim-background-color);
  border-radius: 3px;
  padding: 0 2px;
}

pre.highlight {
  background: var(--dim-background-color);
  border: 1px solid transparentize(var(--dim-text-color), 0.9);
  border-radius: var(--radius);
  margin: 0;
  max-width: 100%;
  overflow-x: auto;
  padding: 0.5rem 1.5rem;

  code {
    border: none;
  }

  .c, .cm, .cs,
  .ge, .gh, .gp, .gs, .gu,
  .kc, .kd, .kn, .kr, .ow,
  .p, .o, .k {
    color: var(--tertiary-accent-color);
  }

  .k, .ne, .ni, .nn, .nt,
  .s, .sb, .sc, .sd, .s2, .se, .sh, .sx, .s1, .ss {
    color: var(--primary-accent-color);
  }

  .nc, .no {
    color: var(--secondary-accent-color);
  }

  .c1 {
    color: var(--dim-text-color);
    font-style: italic;
  }
}
