@import "shared";

.comment { margin-bottom: 2rem }
.comment p { margin: 1rem 0; }

.title { font-size: 2rem; font-weight: 900 }

#google-doc {
  * { font-family: $sans-serif !important }
  ul { list-style-type: disc !important }
  li::before { content: ''; }

  li {
    line-height: inherit !important;
  }

  a {
    color: $primary-accent-color !important;
  }
}

