@import "shared";

.page-description {
  margin-bottom: 2rem;
  p { margin: 1rem 0; }
}

.title { font-size: 2rem; font-weight: 900 }

.google-doc {
  ul { margin: 0.5rem 0; }
  ul[class*="-1"] { margin-left: 2rem; }
  ul[class*="-2"] { margin-left: 4rem; }
}

