@import "shared";

.mister-ridlen {
  img {
    max-height: 25vh;
  }

  @media screen and (min-width: $breakpoint-medium) {
    $side: right;

    img {
      float: $side;
      width: 33%;
      max-height: 75vh;

      @if $side == left { padding-right: $gutter; }
      @else { padding-left: $gutter; }
    }

    & + hr {
      clear: $side;
    }
  }
}
