:root {
  --primary-text-color: #41324f;
  --dim-text-color: #716d7e;
  --pale-text-color: #afabba;
  --faded-text-color: #eeedeb;

  --primary-accent-color: #2e9ea0;
  --secondary-accent-color: #ab6788;
  --tertiary-accent-color: #c5388c;

  --primary-background-color: #ffffff;
  --dim-background-color: #f4f3f7;

  --serif: "Times New Roman", serif;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --monospace: Menlo, Monaco, monospace;

  --font-size-base-px: 15px;
  --font-size-base: 1rem;
  --line-height-base: 1.6;

  --radius: 0.5rem;
  --gutter: 2rem;
}

html {
  font-size: var(--font-size-base-px);
}

body {
  color: var(--primary-text-color);
  font-size: var(--font-size-base);
  font-family: var(--sans-serif);
  line-height: var(--line-height-base);

  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-feature-settings: "liga" 1;
}

.container {
  padding: var(--gutter);
  margin: 0 auto;
  max-width: 45rem;

  &.wide { max-width: 70rem; }
}

h1.brand {
  font-size: 1.5rem;
  line-height: 4rem;
  
  a {
    text-decoration: none;
  }
}

a {
  color: var(--primary-accent-color);

  &:active {
    color: var(--tertiary-accent-color);
  }
}

.header-link, .header-link a {
  color: var(--primary-text-color);
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  margin-bottom: 0.5rem;
}

footer {
  color: var(--dim-text-color);
  padding: 0 0 $gutter 0;

  p {
    margin: 0;
    text-align: center;
  }

  aside {
    color: var(--pale-text-color);
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;

    & a {
      color: var(--pale-text-color);
    }
  }

  @media screen and (min-width: 100ch) {
    p {
      float: left;
    }

    aside {
      text-align: right;
    }
  }
}

hr {
  background: var(--faded-text-color);
  border: 0;
  height: 1px;
  margin: var(--gutter) 0;
}

.intro {
  font-size: 1.2rem;
}

blockquote {
  border-left: 3px solid var(faded-text-color);
  margin-left: 0.5rem;
  padding-left: 1rem;
}
