@import "shared";

.post-title {
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 900;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 2.5rem;
    max-width: 75%;
  }
}

.post-subtitle {
  color: $dim-text-color;
  font-style: italic;
  margin-top: -1rem;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 1.5rem;
    max-width: 75%;
  }
}

.post-date {
  margin-bottom: $gutter;
}

.post-date a {
  color: $dim-text-color;
  text-decoration: none;
}

.footnotes {
  border-top: 1px solid $faded-text-color;
  margin-top: $gutter;
  padding-top: $gutter;

  ol, ol li:first-child p {
    margin: 0;
  }
}
